<header>
  <div class="wrapper">
    <div class="logo-container">
      <img
        src="https://media.licdn.com/dms/image/C4E0BAQGSdVmRAJ_YrA/company-logo_200_200/0/1673609707821?e=1726099200&v=beta&t=GyJp6J92MNEgDwbZ6FNMtm7r-tk8niT-hVDQgciMq1I"
        alt="Logo"
        class="logo-icon"
        height="32"
      />
      <div class="logo-text">
        <p class="projex-text">Projex</p>
        <p>Consulting</p>
      </div>
    </div>
    <button (click)="toggleVisibility()" class="cart-button">
      <fa-icon class="cart-icon fa-lg" [icon]="shoppingcart"></fa-icon>
    </button>
  </div>
</header>
