.container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    background-color: white;
    border-radius: 8px;
    margin-top: 5px;

}

.remove-item {
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    top: 0;
    right: 0;
    border-radius: 100%;
    cursor: pointer;
    border: 0;
    transition: color 0.2s ease-in-out;
    color: var(--tertiary-color);

    &:hover {
        color: red;
    }

    @media (max-width: 768px) {
        background-color: transparent;
        font-size: 14px;
        top: 0px;
        right: 0px;
    }
}

.product {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
}

.product-details {
    display: flex;
    align-items: flex-end;
    width: 100%;
    gap: 0.5rem;

}

.product-image {
    object-fit: contain;
    width: min-content;
    height: 57px;


}

.product-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 7rem;
    font-size: 1rem;
    color: #797979;
    -webkit-line-clamp: 2;
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
}

.quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;

    p {
        width: 50px;
        font-size: 0.59rem;
        font-weight: 400;
        color: black;
        margin: 0;
    }

    span {
        font-size: 0.875rem;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        gap: 8px;
    }


    button {
        font-size: 1rem;
        cursor: pointer;
        border: 0;
        width: 1.3rem;
        height: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary-color-300);
        color: white;
        border-radius: 8px;
        padding: 4px;
        transition: all 0.2s;

        &:hover {
            background-color: var(--secondary-color-200);
        }
    }

    @media (max-width: 768px) {
        height: 34.5px;
        align-items: center;

        div {
            width: 97.37px;
            height: 100%;
        }

        span {
            font-size: 1rem;
        }

        button {
            font-size: 1rem;
        }
    }
}

.total-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color-500);
    font-weight: 400;

    @media (min-width: 768px) {
        grid-template-columns: repeat(1, 1fr);

        strong {
            display: none;
        }
    }
}